<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{instance.room_number}}</title>
</head>
<body>
    <h1> {{instance.name}} </h1>
    <div>
        <p> {{instance.description}}</p>
        <p>Номер комнаты: {{instance.room_number}}</p>
        <p>Тип: {{instance.type}}</p>
        <p>Категория: {{instance.category}}</p>
        <p>Стоимость за день: {{instance.cost_per_day}}</p>
    </div>
</body>
</html>